*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("148161_choinka_swieta_zima.jpg");
}
header {
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin-left: 20px;
}
a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
.active a:hover{
    background: white;
    color: #005b;
}